.MuiButton-root {
    text-transform: none !important;
    font-family: system-ui !important;
    justify-content: flex-start !important;
    min-width: 150px !important;
}

.MuiCard-root{
    width: 250px;
    /* height: 300px; */
}

.MuiCardContent-root:last-child{
    padding-bottom: 0% !important;
    padding-top: 0% !important;
}

.MuiCardContent-root{
    padding-top: 5px !important;
    padding-left: 0% !important;
    padding-bottom: 0% !important;
    padding-right: 0% !important;
}

.card-details{
    font-family: system-ui !important;
    font-size: small;
    font-weight: 500;
    text-transform: none !important;
}

.img-thumbnail{
    padding: 0% !important;
    max-width: 250px !important;
    max-height: 250px !important;
    min-width: 250px !important;
    min-height: 250px !important;
}

.image-url{
    max-width: 250px;
    max-height: 250px;
}