.category-button {
  text-transform: none !important;
  font-family: system-ui !important;
  justify-content: flex-start !important;
  min-width: 150px !important;
}

.MuiCard-root {
  width: 250px;
}

.MuiCardContent-root:last-child {
  padding-bottom: 0% !important;
  padding-top: 0% !important;
}

.delete-content{
  font-size: small;
}

.delete-button{
  background-color: #c23030 !important;
  color: white !important;
}

/* min_h : 315
w 250 */

.MuiCardActions-root{
  justify-content: space-between;
}

.update-image{
  min-height: 315px;
  min-width: 350px;
  max-width: 350px;
  max-height: 315px;
  border-radius: 5px 35px;
}

.MuiCardContent-root {
  padding-top: 5px !important;
  padding-left: 0% !important;
  padding-bottom: 0% !important;
  padding-right: 0% !important;
}

.MuiInputLabel-root {
  display: flex !important;
}

.MuiInputBase-input{
  display: flex !important
}

.MuiSelect-select {
  min-width: 325px !important;
}

.card-details {
  font-family: system-ui !important;
  font-size: small;
  font-weight: 500;
  text-transform: none !important;
}

.spinner-head {
  min-height: 500px;
}

.photo-book{
  min-width: 900px;
}

.img-thumbnail {
  padding: 0% !important;
  max-width: 250px !important;
  max-height: 250px !important;
  min-width: 250px !important;
  min-height: 250px !important;
}

.image-url {
  max-width: 250px;
  max-height: 250px;
}
